<!DOCTYPE html>

<html>

<title>Album Poster Creator</title>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fonts.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=PT+Serif&display=swap">
</head>

<body>
<!-- Since I am stupid and will forget, a SPACE is combing the properties of both css tags-->
<div class="split left pt-serif-regular"> 
    <div class="centered">
        <form action="" method= "POST">
            <!--<label for="album_search">Album:</label><br>-->
            <h1>Album:</h1>
            <input type="text" id="album_search" name="album_search"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<div class="split right fira-sans-regular">
    <!-- This right half can be replaced with some templates -->
    {% block content %}
    {% endblock %}
</div>

</body>

</html>