<!DOCTYPE html>



<div class="split right fira-sans-regular">
    
    <div class="centered">  

    {% if name %}
        <h1 id="name">{{ name }}</h1>
    {% else %}
        <h1 id="name">Name</h1>
    {% endif %}
    
    {% if year %}
        <h2 id="year">{{ year }}</h2>
    {% else %}
        <h2 id="year">Year</h2>
    {% endif %}

    {% if artist %}
        <h2 id="artist">{{ artist }}</h2>
    {% else %}
        <h2 id="artist">Artist</h2>
    {% endif %}
    
    {% if cover %}
        <img id="cover" src= {{ cover }} >
    {% endif %}
        <ul id="songslist">
            {% for song in songs %}
            <li>{{ song }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

</html>
