/* Split the screen in half */
.split {
    padding-top: 20px;

    display: table;
    clear: both;
}

.left{
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}


/* Style the image inside the centered container, if needed */
.centered img {
    width: 500px;
}

.songs {
    left: 10
}